.pagina-menu {
    display: flex;
    flex-direction: column;
    align-items: center;


    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 110px;
        width: 600px;

        padding: 25px;

        h1{
            padding: 15px 0px;
        }

        .sidebar {
            display: flex;
            flex-direction: column;

            width: 100%;

            
            
            .seila{
                width: 150px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .dropdown-contente{
                display: flex;
                flex-direction: column;

                #medio{
                    font-size: 12px;
                }

                .seila2{
                    width: 150px;
                    display: flex;
                    flex-direction: row;
                }

            }
            
            

            #checkboxx:checked~label img {

                transform: rotate(90deg);
                transition: 0.5s;

            }

            #checkboxx~label {
                display: flex;
                flex-direction: row;

                width: 40px;
                justify-content: space-around;
            }

            #checkbox2:checked~label img {

                transform: rotate(90deg);
                transition: 0.5s;

            }

            #checkbox2~label {
                display: flex;
                flex-direction: row;

                width: 40px;
                justify-content: space-around;
            }

            #checkbox3:checked~label img {

                transform: rotate(90deg);
                transition: 0.5s;

            }

            #checkbox3~label {
                display: flex;
                flex-direction: row;

                width: 40px;
                justify-content: space-around;
            }

            #checkbox4:checked~label img {

                transform: rotate(90deg);
                transition: 0.5s;

            }

            #checkbox4~label {
                display: flex;
                flex-direction: row;

                width: 40px;
                justify-content: space-around;
            }

            #checkbox5:checked~label img {

                transform: rotate(90deg);
                transition: 0.5s;

            }

            #checkbox5~label {
                display: flex;
                flex-direction: row;

                width: 40px;
                justify-content: space-around;
            }

            #titulo-smartphone{
                font-size: 18px;
                font-weight: 500;          
            }

            #titulo-acessorios{
                font-size: 18px;
                font-weight: 500;
            }
        }





        p {
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 16px;

        }

        img {
            height: 20px;
        }

        #menor{
            font-size: 14px;
        }
    }
}