.pagina-atendimentoCliente {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

    section {
        display: flex;
        flex-direction: column;
        padding: 70px;
        gap: 30px;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            #sub-titulo {
                color: #000;
                line-height: 2.0;
                font-weight: 700;
                font-size: 20px;
            }

            #topicos {
                color: #0083ca;
                font-size: 17px;
                font-weight: 700;
                line-height: 1.8;
            }
        }

        .principal-atendimento {
            display: flex;
            flex-direction: column;
            gap: 20px;

            hr {
                background-color: #0083ca;
                border-radius: 25px;
                border: none;
                height: 6px;
                width: 305px;
            }
        }
    }
}