.pagina-caixa-produto {
    .caixa-produto-principal {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 13px;
        border: 2px solid #F5F5F5;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding: 20px;
    }
}