.pagina-duvidasFrequentes {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

    section {
        display: flex;
        padding: 70px;
        gap: 30px;
        flex-direction: column;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            #sub-titulo {
                font-size: 18px;
                line-height: 2.0;
                color: #000;
                font-weight: 600;
            }
        }

        .principal-duvidas{
            display: flex;
            gap: 20px;
            flex-direction: column;

            hr{
                background-color: #0083ca;
                border: none;
                border-radius: 25px;
                height: 6px;
                width: 250px;
            }
        }
    }
}